<!DOCTYPE html>
<html>
<head>
  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{!-- Page Meta --}}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  {{!-- Mobile Meta --}}
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- Brand icon --}}
  <link rel="shortcut icon" href="{{asset 'favicon.ico'}}">

  {{!-- Styles'n'Scripts --}}
  <link rel="stylesheet" type="text/css" href="{{asset 'css/app.css'}}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Pragati+Narrow:400,700" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" /> -->
  <script src="{{asset 'js/lodash.min.js'}}"></script>
  <script src="{{asset 'js/jquery-1.12.0.min.js'}}"></script>

  {{!-- Ghost outputs important style and meta data with this tag --}}
  {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed search-closed">

  {{!-- The mobile-only navigation --}}

  <div class="nav-mobile screen-sm-only">
    <ul>{{navigation}}</ul>
  </div>

  <div class="site-wrapper">

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    <footer class="site-footer clearfix">
      <div class="row content-max-width">
        <section class="screen-md-and-up column medium-4 large-3">
          <img src="{{asset 'img/emblum-white.png'}}" alt="primoris emblum" class="site-footer-emblum">
        </section>
        <section class="column medium-4 large-3">
          <ul>
            {{navigation}}
            <li class="social">
              Follow us:
              <ul>
                <li><a><img src="{{asset 'img/icon-facebook-white.png'}}" alt="facebook"></a></li>
                <li><a><img src="{{asset 'img/icon-instagram-white.png'}}" alt="instagram"></a></li>
                <li><a><img src="{{asset 'img/icon-linkedin-white.png'}}" alt="linkedin"></a></li>
                <li><a><img src="{{asset 'img/icon-youtube-white.png'}}" alt="youtube"></a></li>
              </ul>
            </li>
          </ul>
        </section>
        <section class="column medium-4 large-6">
          <ul>
            <li class="address">
              <a href="{{@blog.url}}">{{@blog.title}}</a><br>
              120 Washington Avenue<br>
              Westwood, NJ 07675
            </li>
            <li>Phone: (201) 722-1000</li>
            <li>Fax: (201) 722-1001</li>
          </ul>
        </section>
      </div>
    </footer>
    <div class="site-footer sub-footer">
      Copyright &copy; {{date format="YYYY"}}
      {{@blog.title}}, all rights reserved.
      Published with <a href="https://ghost.org">Ghost</a>,
      designed by <a href="http://herrmedia.com">herrmedia</a>
    </div>

  </div>

  {{!-- Ghost outputs important scripts and data with this tag --}}
  {{ghost_foot}}
  <script src="{{asset 'js/jquery.fitvids.js'}}"></script>
  <script src="{{asset 'js/index.js'}}"></script>

</body>
</html>
