{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}
<header class="main-header">
  <div class="hero hero-1" style="background-image: url({{asset 'img/artclass.jpg'}})"></div>
  <div class="hero hero-2 screen-md-and-up" style="background-image: url({{asset 'img/brains.jpg'}})"></div>
  <div class="hero hero-3 screen-md-and-up" style="background-image: url({{asset 'img/cellos.jpg'}})"></div>
  <!-- <div class="hero hero-4 screen-md-and-up" style="background-image: url({{asset 'img/chemicals.jpg'}})"></div> -->
  <div class="hero hero-4 screen-md-and-up" style="background-image: url({{asset 'img/eye-goggles.jpg'}})"></div>
  <div class="hero hero-5 screen-md-and-up" style="background-image: url({{asset 'img/dancin.jpg'}})"></div>
  <div class="hero hero-6 screen-md-and-up" style="background-image: url({{asset 'img/julian.jpg'}})"></div>
  <div class="hero hero-7 screen-md-and-up" style="background-image: url({{asset 'img/pastels.jpg'}})"></div>

  <div class="search-wrap">
    <script>
      (function() {
        var cx = '014882125473019171608:yei_lhwb04w';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
  </div>
  <nav class="nav-main content-max-width">
    {{#if @blog.logo}}
    <a class="logo-banner" href="{{@blog.url}}">
      <img src="{{@blog.logo}}" alt="{{@blog.title}}"/>
    </a>
    {{/if}}
    <a class="logo-text screen-md-and-up left" href="{{@blog.url}}">
      <img src="{{asset 'img/logo-text.png'}}" alt="{{@blog.title}}"/>
    </a>
    <button href="javascript:;" class="search-button material-icons">search</button>
    <ul class="screen-md-and-up right">
      {{navigation}}
    </ul>
    <button href="javascript:;" class="screen-sm-only hamburger material-icons">menu</button>
  </nav>
</header>

{{!-- The main content area on the homepage --}}
<main id="content" class="content" role="main">

  <div class="row small-collapse content-max-width">
    <div class="column large-6">
      <article class="inner post promo-vid">
        <header class="post-header">
          <h2 class="post-title">Why Primoris?</h2>
        </header>
        <section class="post-content">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/c24G4Il9Ih8?rel=0" frameborder="0" allowfullscreen></iframe>
        </section>
      </article>
      <article class="inner post">
        <header class="post-header">
          <h2 class="post-title">Tolle Ingenium: Lift Your Talent</h2>
        </header>
        <section class="post-content">
          <p>Primoris Academy provides a nurturing academic environment for inquisitive, young scholars.  Our students are the heart of our school and are supported by a devoted faculty and caring parents. This support matrix facilitates a future forward approach in developing generations of the next great thinkers. We are helping beautiful minds exercise their full potential and achieve their dreams.</p>
          <p>Primoris Academy is an independent private school that places children into classes based upon ability, not chronological age. It is a unique educational environment where children can learn at an accelerated rate and reach their maximum potential. Even our youngest students take classes in Forensic Microbiology, Latin, and Golf. Our students are immersed academically and intellectually throughout the day. Primoris Academy works to develop creative and critical thinking skills and to instill in each student a lasting love of learning.</p>
        </section>
      </article>
    </div>
    <div class="column large-6">
    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}
    </div>
  </div>
</main>
