{{!-- Previous/next page links - only displayed on page 2+ --}}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<article class="blog-block inner {{post_class}}">
    <header>
        <div class="blog-block-img" style="background-image: url({{image}})"></div>
        <time class="blog-block-date">
            <span class="blog-block-day" datetime="{{date format='DD'}}">{{date format="DD"}}</span>
            <span class="blog-block-month" datetime="{{date format='MMM'}}">{{date format="MMM"}}</span>
            <span class="blog-block-year" datetime="{{date format='YYYY'}}">{{date format="YYYY"}}</span>
        </time>
    </header>
    <section class="post-excerpt">
        <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
        <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </section>
    <footer class="post-meta">
        {{#author}}
            {{#if image}}
            <a class="img author-thumb" href="{{url}}" style="background-image: url({{image}})"><span class="offscreen">{{name}}'s Picture</span></a>
            {{/if}}
        {{/author}}
        {{author}}
        {{tags prefix=" on "}}
        <!-- <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> -->
    </footer>
</article>
{{/foreach}}

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
