<div class="search-wrap content-max-width">
  <script>
    (function() {
      var cx = '014882125473019171608:yei_lhwb04w';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:search></gcse:search>
</div>
<nav class="nav-main content-max-width">
  {{#if @blog.logo}}
  <a class="logo-banner" href="{{@blog.url}}">
    <img src="{{@blog.logo}}" alt="{{@blog.title}}"/>
  </a>
  {{/if}}
  <a class="logo-text screen-md-and-up left" href="{{@blog.url}}">
    <img src="{{asset 'img/logo-text.png'}}" alt="{{@blog.title}}"/>
  </a>
  <button id="hamburger" class="screen-sm-only nav-icon-button material-icons">menu</button>
  <button id="search-button" class="nav-icon-button material-icons">search</button>
  <a href="/calendar" title="calendar" class="nav-icon-button material-icons">date_range</a>
  <ul class="screen-md-and-up right">
    {{navigation}}
  </ul>
</nav>