<nav class="nav-main">
  {{#if @blog.logo}}
  <a class="logo-banner" href="{{@blog.url}}">
    <img src="{{@blog.logo}}" alt="{{@blog.title}}"/>
  </a>
  {{/if}}
  <a class="logo-text screen-md-and-up left" href="{{@blog.url}}">
    <img src="{{asset 'img/logo-text.png'}}" alt="{{@blog.title}}"/>
  </a>
  <ul class="screen-md-and-up right">
    {{#foreach navigation}}
      <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation">
        <a href="{{url absolute="true"}}">{{label}}</a>
      </li>
    {{/foreach}}
  </ul>
  <a href="javascript:;" class="screen-sm-only hamburger icon-menu"></a>
</nav>

<!-- <div class="nav">
  <h3 class="nav-title">Menu</h3>
  <a href="javascript:;" class="nav-close">
      <span class="offscreen">Close menu</span>
  </a>

  {{#if @labs.subscribers}}
    <a class="subscribe-button" href="{{@blog.url}}/subscribe/">Subscribe</a>
  {{else}}
    <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
  {{/if}}
</div>
 -->